@model Libellus.Web.Areas.Administracion.Models.AnioLectivo.AnioLectivoViewModel

@Html.HiddenFor(model => model.Id)
@Html.HiddenFor(model => model.IdSede)

@{
    Dictionary<string, object> propiedadesAnio = new Dictionary<string, object>();
    propiedadesAnio.Add("class", "form-control");
    propiedadesAnio.Add("maxlength", 4);
    propiedadesAnio.Add("tabindex", 1);

    Dictionary<string, object> propiedadesFecha = new Dictionary<string, object>();
    propiedadesFecha.Add("class", "form-control");
    propiedadesFecha.Add("maxlength", 10);
    propiedadesFecha.Add("tabindex", 2);
    propiedadesFecha.Add("contenteditable", false);
    
    if (!ViewBag.NuevoRegistro)
    {
        propiedadesAnio.Add("readonly", "readonly");
        propiedadesFecha.Add("readonly", "readonly");
    }
}

<div class="row">
    <div class="col-md-4 form-group">
        @Html.LabelFor(model => model.Anio)
        @Html.TextBoxFor(model => model.Anio, propiedadesAnio)
        @Html.ValidationMessageFor(model => model.Anio, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-4">
        @Html.LabelFor(model => model.FechaInicio)
        <div class="input-group date disabled" id="fechaInicio">
            @Html.TextBoxFor(model => model.FechaInicio, propiedadesFecha)
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
        @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
    </div>

    @if (!ViewBag.NuevoRegistro)
    {
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.FechaCierre)
            <div class="input-group date" id="fechaCierre">
                @Html.TextBoxFor(model => model.FechaCierre, new { @class = "form-control", contenteditable = "false", maxlength = "10", tabindex = "2" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            @Html.ValidationMessageFor(model => model.FechaCierre, "", new { @class = "text-danger" })
        </div>
    }

</div>
