@model IPagedList<Libellus.Web.Areas.GestionMatricula.Models.DatosGeneralesEstudiante.EstudianteViewModel>

@{
    ViewBag.Title = "Consultar";
    object valorAnio = ViewBag.AnioLectivo;
}

<div class="content-header">
    <h2 class="content-header-title">Consultar estudiantes</h2>
</div>

@using (Html.BeginForm("Consultar", "DatosGeneralesEstudiante", FormMethod.Get, new { data_otf_ajax = "true", data_otf_target = "#resultado" }))
{
    <div class="row">
        <div class="form-group col-md-4">
            @Html.Partial("_AniosLectivos", valorAnio)
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.First().Usuario.IdTipoIdentificacion)
            @Html.DropDownList("IdTipoIdentificacion", ViewBag.TiposDocumento as IEnumerable<SelectListItem>, new { @class = "form-control", tabindex = "2" })
        </div>

        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.First().Usuario.Identificacion)
            @Html.TextBox("Identificacion", null, new { @class = "form-control", tabindex = "3", maxlength = "14" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.First().IdEstado)
            @Html.DropDownList("IdEstado", ViewBag.EstadosEstudiante as IEnumerable<SelectListItem>, new { @class = "form-control", tabindex = "4" })
        </div>

        <div class="form-group col-md-4">
            @Html.Label("Grado")
            @Html.DropDownList("IdGrado", ViewBag.Grados as IEnumerable<SelectListItem>, new { @class = "form-control", tabindex = "5" })
        </div>

        <div class="form-group col-md-4">
            @Html.Label("Grupo")
            <input type="number" min="0" max="999" name="Grupo" class="form-control" tabindex="6" maxlength="3" />
        </div>
    </div>

    <br />
    <div class="form-group centered">
        <input type="submit" value="Consultar" class="btn btn-primary" tabindex="7" />
    </div>
}

@Html.Partial("_ResultadoConsulta", Model)

