<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title | LIBELLUS - Sistema de Gestión Académico Integrado</title>
    <link rel="icon" href="~/Content/img/favicon.ico">

    @Styles.Render("~/content/css")

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <div class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-cogs"></i>
                </button>
                <a class="navbar-brand navbar-brand-image" href="index-2.html">
                    @*<img src="~/Content/img/logo.png" alt="Site Logo">*@
                </a>
            </div>
            <div class="libellus"><a href="#"><img src="~/Content/img/libellus_logo.png" height="40"></a></div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @if (Request.IsAuthenticated)
    {
        if (string.IsNullOrEmpty(ViewBag.sede))
        {
            @Html.Partial("_MenuPartial")
        }
        else
        {
            <div class="mainbar">
                <div class="container">
                    <div class="mainbar-collapse collapse">
                        <ul class="nav navbar-nav mainbar-nav"></ul>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="mainbar">
            <div class="container">
                <div class="mainbar-collapse collapse">
                    <ul class="nav navbar-nav mainbar-nav"></ul>
                </div>
            </div>
        </div>
    }

    <div class="container">
        <div class="content">
            <div class="content-container">
                <div>
                    @Html.MensajeExtender()
                </div>
                <div>
                    @RenderBody()
                </div>
                <div id="loading">
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>Libellus Todos los derechos reservados @DateTime.Now.Year | @System.Globalization.CultureInfo.CurrentCulture.DisplayName</p>
                </div>
                <div class="col-sm-6">
                    <p><img src="~/Content/img/ismlogo.png" width="233" height="32" style="float:right"></p>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/general/js")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
    @Html.RenderScripts()

    <script type="text/javascript">
        $(document).ready(function () {
            $('span.caret').remove();
        });
    </script>

    <style type="text/css">
        #navbar-login .navbar-nav > .open > a, #navbar-login .navbar-nav > .open > a:focus, #navbar-login .navbar-nav > .open > a:hover,
        #navbar-login .navbar-nav > li > a:focus, #navbar-login .navbar-nav > li > a:hover {
            color: #333;
            background-color: transparent;
            border: none;
        }

        #navbar-nav-login .dropdown-menu:before {
            content: none;
        }

        #dropdown-menu-login {
            width: 120%;
        }

        #navbar-login .navbar-nav > li > a {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        #dropdown-menu-login > .divider {
            margin: 0% 5%;
        }
    </style>
    <!--[if lt IE 9]>
    <script src="./js/libs/excanvas.compiled.js"></script>
    <![endif]-->

</body>
</html>
