@model IPagedList<Libellus.Web.Areas.Administracion.Models.SalidasOcupacionales.SalidaOcupacionalViewModel>

@{
    ViewBag.Title = "Salidas ocupacionales";
}

<div class="content-header">
    <h2 class="content-header-title">@ViewBag.Title</h2>
</div>

@Html.ActionLink("Crear salida ocupacional", "Crear")

<br /><br />

@if (Model != null && Model.Count() > 0)
{
    <table class="@EstilosHelper.TablaLibellus">
        <tr>
            <th class="col-md-8">
                @Html.DisplayNameFor(model => model.First().Descripcion)
            </th>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.First().IntensidadHoraria)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.First().Estado)
            </th>
            <th class="col-md-1">Acción</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td class="centered">
                    @Html.DisplayFor(modelItem => item.IntensidadHoraria)
                </td>
                <td class="centered">
                    @Html.VisualizarEstado(item.Estado)
                </td>
                <td class="centered">
                    @Html.ActionLink("Editar", "Editar", "SalidasOcupacionales", new { area = "Administracion", id = item.Id }, null)
                </td>
            </tr>
        }

    </table>

    <div class="centered">
        @Html.PagedListPager(Model, pagina => Url.Action("Consultar", new { pagina }))
    </div>
    <div class="form-group" style="text-align: center !important;">
        <button type="button" id="exportarExcel" class="btn btn-success centered">Exportar a Excel</button>
    </div>

    @Html.Hidden("tokenExportarExcel")
}

@section Scripts {
    @Scripts.Render("~/bundles/jquerycookies")

    <script type="text/javascript">

        $("#exportarExcel").bind("click", function () {

            $('[name="tokenExportarExcel"]').val(new Date().getTime());

            IniciarDescargaArchivo("exportarExcel");
            window.location.href = "@Url.Action("ExportarInformacionExcel")" + "?token=" + $('[name="tokenExportarExcel"]').val();

        });

    </script>

}